<html>
<form method="post">
  Username: <br/>
  <input id="username" name="username" type="text" /><br/>
  Password: <br/>
  <input id="password" name="password" type="password" /><br/>
  <input id="loginButton" type="submit" value="Inloggen" />
</form>
</html>
